@import url('http://fonts.cdnfonts.com/css/redkost-comic');
@import url('http://fonts.cdnfonts.com/css/round-sans');
@import url('http://fonts.cdnfonts.com/css/hellomissthang');
body {
    background-color: rgb(204, 246, 242);
}

h1 {
    text-align: center;
    font-family: 'Redkost Comic', sans-serif;
    color:rgb(106, 77, 173);
    font-size: 50px;
}
#firstrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    font-size: large;
    font-family: 'Round sans', sans-serif;
}
.space {
    width: 20px;
}
.input {
    display: flex;
    flex-direction: row;
}
#secondrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 10px;
}
.scoreboard {
    width: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid green;
    border-radius: 10px;  */
}
#scoretitle {
    border: 3px solid green;
    border-radius: 10px;
    /* width: 13vw;
    height: 5vh; */
    font-size: 2.5vw;
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    font-family: 'Round sans', sans-serif;
}
#playerOneScore {
    font-size: 1.6vw;
    color: blue;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 20px auto;
    width: 14vw;
    height: 5vh;
    background-color: white;
    font-family: 'Round sans', sans-serif;
}
#playerTwoScore {
    font-size: 1.6vw;
    color: green;
    border: 3px solid green;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 20px auto;
    width: 14vw;
    height: 5vh;
    background-color: white;
    font-family: 'Round sans', sans-serif;

}
#gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.7vw;
    height: 33.7vw;
    border: 3px solid rgb(255, 170, 0);
    border-radius: 10px;

}
.square {
    background-color: rgb(196, 165, 86);
    height: 4vw;
    width: 4vw;
    font-size: 0px;
    margin: 0.1vw 0.1vw;
    text-align: center;
    border-radius: 10px;
    padding: 0.4vw auto;
}
#instruction {
    width: 25vw;
    text-align: justify;
}
#instruction-title {
    text-align: center;
    font-family: 'HelloMissThang', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color:rgb(6, 4, 106);
}
ul {
    font-family: 'HelloMissThang', sans-serif;
    color:rgb(6, 4, 106);
    font-weight: bolder;
    font-size: 1.3vw;
}

#thirdrow {
    text-align: center;
    font-size: 30px;
    border: 3px solid green;
    border-radius: 10px;
    width: 60vw;
    margin: 10px auto;
    background-color: white;
    font-family: 'Round sans', sans-serif;
    padding: 10px;
}